<mat-card>
  <mat-table  [dataSource]="dataSource" class="mat-elevation-z8 bdr0 t-bdr p-0">

    <ng-container matColumnDef="ServiceName">
      <mat-header-cell *matHeaderCellDef class="bg-info text-light">Service Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ServiceName}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="BookingDate">
      <mat-header-cell *matHeaderCellDef class="bg-info text-light"> Booking Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.BookingDate}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="DateOfService">
      <mat-header-cell *matHeaderCellDef class="bg-info text-light"> Scheduled Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DateOfService}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef class="bg-info text-light"> Status</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="bg-info text-light"> Action </mat-header-cell>
      <mat-cell *matCellDef="let element"><button mat-raised-button class="btn btn-danger" (click)="Cancel(element._id)">Cancel</button> &nbsp;&nbsp;<button mat-raised-button class="btn btn-warning" (click)="Reschedule(element._id)">Reschedule</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>



