<div class="animate">
  

  <!-- container 1 Start -->
  <div class="contr1">
    <div class="row pt-5 smallcenter m-0">
      <h2 class="pt-5 offset-1"><b class="companynamecolor">WRAP IT UP</b></h2>
    </div>
    <div class="row pt-2 m-0">
      <h6 class="pt-2 offset-1">Who loves a clean house?<br/>
        Have trouble while doing household activities?<br/>
        Not enough time to do household chores?<br/><br/>
        <b>Then,<span class="companynamecolor">"WRAP IT UP"</span> is right place for you!!</b>
      </h6>
    </div>
    <!-- Start Services button -->
    <div class="row pt-5 smallcenter m-0">
      <button class="offset-1 startservicebutton" routerLink='/Index'>START YOUR SERVICES</button>
    </div>
    <!-- Scroll Down Mouse -->
    <div class="d-flex justify-content-center mt-3">
      <button class="scrollDown mt-3">
        <div class="scroll-downs ml-4">
          <div class="mousey">
            <div class="scroller"></div>
          </div>
        </div>
        SCROLL DOWN
      </button>
    </div>
  </div>
  <!-- container 1 End -->
  <!-- Container 2 -->
  <div class="contr2">
    <div class="row m-0">
      <div class="col-md-12 text-center">
          <h6 class="contr2Heading">YOUR FREE WRAP IT UP SERVICE MATCHMAKER</h6>
      </div> 
      <div class="row Sm-0 contr2ServiceBox mt-5 smallcenter">
        <div class="col-md-6 col-sm-12 pl-0">
          <div class="card">
            <div class="card-header">
                <p class="text-center pt-4">MEET THE BEST HOME SERVICE PROVIDER</p>
                <p class="text-center pt-1 card-headerpara2">Benefits of using
                    <span style="color:#FF366D"> WRAP IT UP</span>.:</p>
            </div>
            <div class="card-body">
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; Expertise worker-  WRAP IT UP, offers  experienced and highly-trained staff will beautify your home in no time</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; Reasonable price -  We provides exceptional services at reasonable rates and do our work efficiently and effectively</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; Free estimates -   We will provide you with a free estimate, which will include our cleaning products and vacuums cleaner, etc. No cost involved</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; Security - All of our employees are linked with Aadhaar card issued by govt of India, have their Criminal Records ChecksS</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; Customer Insurance - We will take the accountability of our employees; in case of serious malpractice were done by our employee. We will insure compensation of 
                  ₹ 1 lakhs to our customers.</p>

              </div> 
          </div>
        </div>
        <div class="col-md-6 col-sm-12 pr-0 smallmargin">
          <div class="card">
            <div class="card-header">
                <p class="text-center pt-4">How to use WRAP IT UP?</p>
                <p class="text-center pt-1 pb-4 card-headerpara2">Having problem while using our website?
                  Here, easy step by step to ensure a WRAP IT UP worker at your doorstep. </p>
            </div>
            <div class="card-body">
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; Search by City & Availability - Fill your place 
                  and check our service at your locality.</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; Select our services & schedule it - Select the services you needed such as housekepping, laundry, etc. When and where you need it done.</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; Choose your helper - Scroll your trusted helper by skills, reviews, and price. Select the right person for your job and confirm it.</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; Get it done- Your helper arrives at time and gets the job done. Pay securely and leave a review, all through WRAP IT UP.<br></p>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container 2 End -->
  <!-- Container 3 Start -->
  <div class="contr3">
    <div class="row m-0">
      <div class="offset-1 col-md-6">
        <p class="">WRAP IT UP WAS FOUNDED BY INDUSTRY EXPERTS TO MAKE YOUR LIFE EASIER</p>
      </div>
    </div>
    <div class="row pt-5 pl-3 smallcenter m-0">
      <button class="offset-1 startservicebutton" routerLink='/Index'>START YOUR SERVICES</button>
    </div>
  </div>
  <!-- Container 3 End -->
  <!-- Container 4 Start -->
  <div class="contr4">
    <div class="row m-0">
      <div class="col-md-12">
          <p class="m-0 contr4para1 smallsize">HOW IT'S WORK</p>
      </div>
      <div class="col-md-12">
          <p class="m-0 contr4para2 smallsize">IT IS EASY AND SIMPLE TO USE</p> 
      </div>
    </div>
    <div class="row contr4row2 m-0">
        <div class="offset-1 p-0 col-md-2 col-sm-12 contr4row2col smallmargin">
            <div class="card contr4cards">
                <div class="card-header contr4header"><img src="../../../../assets/projects.png"></div>
                <div class="card-body">
                    <p class="">1. POST YOUR REQUEST</p>
                    <p class="">Tell us about the Service you’re planning and we’ll match you with the 
                        right general details according your request.
                    </p>
                </div> 
            </div>
        </div>
        <div class="offset-1 p-0 col-md-2 col-sm-12 contr4row2col smallmargin">
            <div class="card contr4cards">
                <div class="card-header contr4header"><img src="../../../../assets/meetYourMatch.png"></div>
                <div class="card-body">
                    <p class="">2. MEET YOUR MATCHES</p>
                    <p class="">We’ll send you a shortlist of contractors matched with your project, you can
                         browse past work, read reviews, and get introduced to your favorites.
                    </p>
                </div> 
            </div>
        </div>
        <div class="offset-1 p-0 col-md-2 col-sm-12 contr4row2col smallmargin">
            <div class="card contr4cards">
                <div class="card-header contr4header"><img src="../../../../assets/StartRenovate.png"></div>
                <div class="card-body">
                    <p class="">3. START SERVICE</p>
                    <p class="">After meeting your matches and receiving estimates, hire your favorite and get 
                        started. Sweeten will be there to help throughout the process.
                    </p>
                </div> 
            </div>
        </div>
    </div>
  </div>
  <!-- Container 4 End -->
</div>