.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 650px;
}
.login:hover{
  color: blue;
  text-decoration-line: underline;
}
#ErrorMessage{
  color:red ;
  font-size: 14px;
}
.carousel-inner{
  background-color: blueviolet;
  color: white;
  height: 150px;
 
}
.caphead{
  vertical-align: middle;
  line-height: 150px;
  
}

@media only screen and (max-width: 760px){
  .example-container > * {
    width: 304px;
    padding: 12px;
  }
}
