<div class="footer">
  <div class="row m-0 social">
    <div class="offset-1 col-md-1 col-sm-12 footercol">
      <div class="row">
        <div class="col-md-12 p-0">
          <img src="../../../../assets/twitter.png" alt="Twitter" class="p-1 sociallink">
          <img src="../../../../assets/facebook.png" alt="Facebook" class="p-1 sociallink">
          <img src="../../../../assets/insta.png" alt="Instagram" class="p-1 sociallink">
        </div>
      </div>
      <div class="row footerLogo m-0">
        <div class="col-md-12 p-0 footerLogo">
          <span>WRAP IT UP</span>
        </div>
      </div>
    </div>
    <div class="offset-1 col-md-1 col-sm-12 p-0 footercol footersmallmargin">
      <div class="row footercenter">
        ABOUT
      </div>
      <div class="row pt-4 footercenter">
       <a routerLink="/aboutus" class="footer-links">About us</a>
      </div>
      <div class="row pt-2 footercenter">
        How it Works
      </div>
      <div class="row pt-2 footercenter">
        Team
      </div>
      <div class="row pt-2 footercenter">
        Security
      </div>
      <div class="row pt-2 footercenter">
        <a routerLink="/feesNcharges" class="footer-links">Fees & Charges</a>
      </div>
      <div class="row pt-2 footercenter">
        Investors
      </div>
    </div>
    <div class="offset-1 col-md-1 col-sm-12 p-0 footercol footersmallmargin">
      <div class="row footercenter">
        PRESS
      </div>
      <div class="row pt-4 footercenter">
        In the News
      </div>
      <div class="row pt-2 footercenter">
        Awards
      </div>
      <div class="row pt-2 footercenter">
        Testimonials
      </div>
      <div class="row pt-2 footercenter">
        Timeline
      </div>
    </div>
    <div class="offset-1 col-md-1 col-sm-12 p-0 footercol footersmallmargin">
      <div class="row footercenter">
        GET IN TOUCH
      </div>
      <div class="row pt-4 footercenter">
        Get Support
      </div>
      <div class="row pt-2 footercenter">
        <a routerLink="/careers" class="footer-links">Careers</a>
      </div>
      <div class="row pt-2 footercenter">
        Community
      </div>
      <div class="row pt-2 footercenter">
        <a routerLink='/contactus' class="footer-links"> Contact Us</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row m-0">
    <div class="col-md-2 p-0 footerformalities">
      PRIVACY POLICY
    </div>
    <div class="col-md-2 p-0 footerformalities">
      TERMS AND CONDITIONS
    </div>
    <div class="col-md-3 p-0 footerformalities">
      COPYRIGHT INFRINGEMENT POLICY
    </div>
  </div>
  <div class="row m-0 mt-4">
    <div class="col-md-4 p-0 copyright">
      Copyright 2019 wrapItUp.com
    </div>
  </div>
