.nav{
  
  background-color: #1C1C1C ;
  color: #FFFFFF;
  height: fit-content;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}  
.register:hover,.login:hover,.logout:hover,.profile:hover{
  background: linear-gradient(to right, #FF366D 50%, #FF366D 50%);
  color: white;
  -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    transition: all 1s ease-in;
}
.sizegif{
  height:36px;
  width: 42px;
  opacity: 0;
}

