<mat-toolbar class="nav pt-3 pb-3">
  <mat-toolbar-row class="nav wrapper">
      <button mat-flat-button routerLink="" class="nav wraplogo"><b class="">Wrap It UP</b></button>

      <span class="example-spacer"></span>
      <button *ngIf="!UserIn()" mat-flat-button routerLink="" class="nav register" (click)="RegisterPopUp()">Register</button>
      <button *ngIf="!UserIn()" mat-flat-button routerLink="" class="nav login" (click)="LoginPopUp()">LogIn</button>
    <button *ngIf="UserIn()" mat-flat-button routerLink="" class="nav logout" (click)="Logout()">LogOut</button>
    <button *ngIf="UserIn()" mat-flat-button [routerLink]="['Profile']" class="nav profile">Hi, {{username}}</button>

  </mat-toolbar-row>
</mat-toolbar>

