<div class="row mt-2">
  
  <div class="col-md-2">
    <button type="button" class="btn btn-light"><b>WrapItUp</b></button>
  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-1">
    <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>Theme
    </label>
  </div>
  <div class="col-md-1">
  </div>

  <div class="col-md-2">
   
  </div>
 
  <div class="col-md-1">

  </div>
  
  <div class="col-md-2">
    <button mat-raised-button color="primary" class="pt-1 pb-1"  (click)="RegisterPopUp()">Register</button>
    <button mat-raised-button color="primary" class="pt-1 pb-1"  (click)="LoginPopUp()">Login</button>
  </div>
  
  <div class="col-md-1">
    <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  
</div>