.imgsize{
    height: 150px;
    width: 150px;
}
.example-container{
    /* background-color: gray; */
    padding: 10px;
}
.formbutton{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 26px;
}
