<mat-drawer-container class="example-container row mt-2 mb-5">
  <mat-drawer-content class="col-md-12">
    <div class="row mt-2">
      <div class="col-md-12 text-center">
        <h6> Welcome {{user$.Username}}</h6>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 text-center">
        <mat-card *ngIf="Role.Worker||Role.Admin" class="example-card">
          <mat-card-header>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/services.png" alt="Services" class="imgsize">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['Services']" >SERVICES</button>
          </mat-card-actions>
        </mat-card>
<!--        <mat-card *ngIf="Role.Worker||Role.Admin" class="example-card">-->
<!--          <mat-card-header>-->
<!--          </mat-card-header>-->
<!--          <img mat-card-image src="../../../../assets/services.png" alt="Services" class="imgsize">-->
<!--          <mat-card-content>-->
<!--            <p>-->
<!--              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--            </p>-->
<!--          </mat-card-content>-->
<!--          <mat-card-actions>-->
<!--            <button mat-raised-button color="primary" [routerLink]="['Services']" >Worker Service selection</button>-->
<!--          </mat-card-actions>-->
<!--        </mat-card>-->
        <mat-card *ngIf="Role.Customer||Role.Admin" class="example-card">
          <mat-card-header>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/services.png" alt="Services" class="imgsize">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['Services']" >EXPLORE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-3 text-center">
        <mat-card *ngIf="Role.Worker||Role.Admin" class="example-card">
        <mat-card-header>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/history.jpg" alt="Services" class="imgsize">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['History']">Service History</button>
        </mat-card-actions>
      </mat-card>
        <mat-card *ngIf="Role.Customer||Role.Admin" class="example-card">
          <mat-card-header>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/history.jpg" alt="Services" class="imgsize">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['History']">YOUR PAST SERVICES</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-3 text-center">
        <mat-card *ngIf="Role.Worker||Role.Admin" class="example-card">
        <mat-card-header>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/feedback3.png" alt="Services" class="imgsize">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['Feedback']">FEEDBACK</button>
        </mat-card-actions>
      </mat-card>
        <mat-card *ngIf="Role.Customer||Role.Admin" class="example-card">
          <mat-card-header>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/feedback3.png" alt="Services" class="imgsize">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['Feedback']">FEEDBACK</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-3 text-center">
        <mat-card *ngIf="Role.Worker||Role.Admin" class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="../../../../assets/status.png" alt="Services" class="imgsize">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" [routerLink]="['Status']">Accept Service</button>
            </mat-card-actions>
          </mat-card>
        <mat-card *ngIf="Role.Customer||Role.Admin" class="example-card">
          <mat-card-header>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/status.png" alt="Services" class="imgsize">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['Status']">SERVICE STATUS</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
