<div class="row mt-5 mb-5 aboutrow p-5">
  <div class="offset-1 col-md-10">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/about2.png" alt="satish" width="1100" height="500">
          <div class="carousel-caption text-left">
            <h3 class="">- Satish Mahalik</h3>
            <p class="pl-4">Founder</p>
          </div>   
        </div>
        <div class="carousel-item">
          <img src="../../../assets/about3.png" alt="sid" width="1100" height="500">
          <div class="carousel-caption text-left">
            <h3 class="">- Sid S</h3>
            <p class="pl-4">Founder</p>
          </div>   
        </div>
        <div class="carousel-item">
          <img src="../../../assets/about1.png" alt="shekhar" width="1100" height="500">
          <div class="carousel-caption text-left">
            <h3 class="">- Shekhar Saini</h3>
            <p class="pl-4">Founder</p>
          </div>   
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
